{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "no-shadow": 0,
    "import/no-extraneous-dependencies": 0,
    "arrow-body-style": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [
      1, {
        "extensions": [".js"]
      }
    ]
  },
  "env": {
    "jest": true
  }
}
